body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}



.info.legend {
  background: white;
  padding: 10px;
  border-radius: 10 px;
}


.legend i {
  width: 18px; /* Width of the color box */
  height: 18px; /* Height of the color box */
  float: left;
  margin-right: 8px;/* Space between color box and text */
}